{
  "singleQuote": true,
  "trailingComma": "all",
  "importOrder": ["^@nestjs/(.*)$", "^@dms/(.*)$", "^[./]"],
  "importOrderParserPlugins" : ["typescript", "[\"decorators-legacy\", {\"decoratorsBeforeExport\": true}]"]
}